<div>
    <h1 class="h1">Add Customer</h1>
</div>
<form #customerForm="ngForm" class="col-4" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName" class="bmd-label-floating">Customer Name</label>
        <input name="name" type="text" class="form-control" id="firstName" 
                [(ngModel)]="customerModel.name" minlength="1" required #name="ngModel" />
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
                class="alert-danger">
            <div *ngIf="name.errors.required">
                Name is required.
            </div>
            <!-- <div *ngIf="name.errors.minlength">
                Name must be atleast one character long!
            </div> -->
        </div>
    </div>
    <div class="form-group">
        <label for="phoneNumber" class="bmd-label-floating">Phone Number</label>
        <input id="phoneNumber" type="tel" name="telphone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" minlength="10" maxlength="10" class="form-control"
        [(ngModel)]="customerModel.phoneNumber" #telephone="ngModel" required />
        <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)">
            <div class="alert-danger" *ngIf="telephone.errors.required">
                Phone Number is Required!
            </div>
            <div class="alert-danger" *ngIf="telephone.errors.minlength">
                Phone number must be atleast 10 digits!
            </div>
            <div class="alert-danger" *ngIf="telephone.errors.pattern && !telephone.errors.minlength">
                Phone number must contain only digits!
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="customerForm.form.invalid" class="btn btn-primary btn-raised">Submit</button>
</form>